
.blog {
    border-bottom: 1px solid gray;
    padding: 15px;
    margin-top: 15px;
}
.blog img{
    border-radius: 8px;
    width: 100%;
}



.blog-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.author-info h4{
    margin-top: 0;
    margin-bottom: 5px;
}



.author-info {
    display: flex;
    align-items: center;

}
.tags{
    margin-right: 10px;
    font-weight: bold;
    color: gray;
    
}
.author-info img{
    height: 50px;
    width: 50Px;
    border-radius: 100%;
    margin-right: 10px;
}
.read-info{
    
    font-weight: 600;
    color: gray;
    font-size: 20px;
}
.bookMarkBtn{
    border: none;
    font-size: 20px;
}

.read-btn{
    margin-top: 15px;
}